/* Chat widget CSS */
.chat-experts {
  position: absolute;
  right: 5px;
  top: 80%;
  z-index: 99;
}

.chat-experts #button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(48 48 48);
  box-shadow: none;
  margin-left: auto;
  z-index: 9;
}

.chat-experts .Polaris-Icon {
  width: 2.25rem;
  height: 2.25rem;
}

.chat-experts #button .Polaris-Icon {
  filter: brightness(4);
  width: 2.25rem;
  height: 2.25rem;
}

.chat-experts #button .Polaris-Icon {
  font-size: 20px;
}

.chat-experts .Polaris-Box #notification {
  position: absolute;
  z-index: 99;
  bottom: 37px;
  right: 0px;
  color: white;
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-experts .card-wrapper {
  position: absolute;
  right: 10px;
  bottom: 60px;
  width: 300px;
}
.chat-experts .card-wrapper .Polaris-BlockStack {
  background-color: black;
  margin-bottom: 10px;
  color: white;
  padding: 20px;
}

.chat-experts .card-wrapper .Polaris-Box:first-child {
  padding: 0;
}
.chat-experts .card-wrapper .Polaris-Box .Polaris-Box {
  margin: 0px 4px;

  border-radius: 10px;
}
.chat-experts .card-wrapper .Polaris-Box .Polaris-ResourceList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Polaris-Avatar__Image{
  object-fit: revert!important;
}

.chat-experts .card-wrapper .Polaris-Box .Polaris-ResourceItem__ListItem {
  background: #f3f3f3;
  border-radius: 10px;
  border: none !important;
}

.chat-experts .card-wrapper .Polaris-Box .Polaris-ResourceItem:hover {
  border-radius: 10px;
  background-color: #f3f3f3;
}

.chat-experts .card-wrapper .Polaris-Box .Polaris-InlineGrid {
  align-items: center;
}

.chat-experts .card-wrapper .Polaris-Box > h5 {
  padding-bottom: 7px;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .chat-experts .Polaris-Icon {
    width: 1.75rem !important;
    height: 1.75rem !important;
  }
  .chat-experts .Polaris-ShadowBevel{
    border-radius: 10px;
  }
}

/* Dashboard CSS */

.analytics h3 {
  border-bottom: 2px dashed gray;
  display: inline-block;
}

.quick-tutorial .sub-heading {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
.quick-tutorial .sub-heading p {
  width: calc(100% - 20px);
}
.banner .banner-inner {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: -6px;
}
.banner .banner-inner .Polaris-Box {
  flex: 1;
}
.banner .banner-inner .Polaris-Box h2 {
  color: #e3e3e3;
}
.banner .banner-inner .Polaris-Box p {
  color: #e3e3e3d9;
  padding: 10px 0px;
}
.banner .swiper-pagination-bullet {
  background-color: #707070;
}
.banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.banner .close_banner {
  position: absolute;
  z-index: 1;
  top: 20px;
  cursor: pointer;
  right: 20px;
}

.banner .close_banner svg {
  color: #e3e3e3;
}

.request_feature .Polaris-CalloutCard {
  gap: 50px;
}

.dashboard-slider .swiper-pagination {
  bottom: -3px !important;
}

.dashboard-slider .swiper-pagination-bullet {
  background-color: #969696;
}
.dashboard-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #000000;
}

.rate_us .Polaris-LegacyCard {
  background-color: #eaf1f9;
}
.rate_us .rating_star {
  display: flex;
  justify-content: flex-start;
  gap: 0px;
}
.rate_us .rating_star .Polaris-Icon {
  margin: unset;
  width: 30px;
  height: 30px;
}
.rate_us .Polaris-Text--root:nth-child(2) {
  color: rgb(108, 163, 234);
}
.rate_us .Polaris-Text--root.Polaris-Text--headingSm {
  color: rgb(9, 9, 86);
}

.rate_us .rating_star .Polaris-Icon svg {
  fill: #ecc02d;
}

.rate_us .Polaris-CalloutCard {
  flex-direction: row-reverse;
  gap: 50px;
}
.rate_us .Polaris-CalloutCard .Polaris-CalloutCard__Buttons {
  text-align: end;
}
.rate_us .Polaris-CalloutCard--hasDismiss {
  padding-right: 0 !important;
}

.more_apps .Polaris-CalloutCard__DismissImage {
  display: none;
}

.more_apps .Polaris-CalloutCard--hasDismiss {
  padding: 0;
}

.more_apps .prod_card {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.prod_card .prod_cnt_col button {
  text-decoration: none;
  color: inherit;
}

.prod_card p .Polaris-Icon {
  display: inline-block;
  vertical-align: bottom;
}

.prod_card p .Polaris-Icon svg {
  fill: #616161;
}

.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 20px;
}

.footer h3 {
  font-size: 16px;
  color: rgb(72, 72, 72);
}
.footer ul {
  list-style: none;
  display: flex;
  gap: 35px;
  padding: 0px;
  margin: 0;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  .banner .banner-inner .Polaris-Box:first-child {
    display: none;
  }

  .banner .swiper-pagination {
    position: static !important;
    text-align: center !important;
    width: auto !important;
    transform: unset !important;
    padding-bottom: 10px !important;
  }
}
